<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
</head>
<body>
<h1>회원가입</h1>
<hr>
<form action="/member/signup" th:object="${member}" method="post">

    <input type="text" th:field="*{userName}" placeholder="아이디 입력">
    <input type="text" th:field="*{originName}" placeholder="이름 입력">
    <input type="number" th:field="*{age}" placeholder="나이 입력">
    <input type="text" th:field="*{gender}" placeholder="성별 입력">
    <input type="password" th:field="*{password}" placeholder="비밀번호">
    <button type="submit">회원가입</button>
</form>
</body>
</html>