<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<h1>Login</h1>
<hr>
<a th:href="@{/member/login}">로그인</a>
<a th:href="@{/member/logout}">로그아웃</a>
<a th:href="@{/member/signup}">회원가입</a>
</body>
</html>